$primary: #ff214f;
$nav-link-padding-y: 0.7rem;
$nav-link-padding-x: 1.2rem !important;
$nav-link-color: #fff !important;
$navbar-padding-y: 1.5rem;
$nav-link-font-weight: 700;
$font-family-sans-serif: 'Oswald', sans-serif;
// $btn-padding-y-lg: 1.2rem;
// $btn-padding-x-lg: 1.4rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


nav {
    background-color: #343a40;
}

@media screen and (max-width: 992px){
    .compo-nav {
        width: 25% !important;
    }

    .menu {
        .menu-hover {
            font-size: calc(1.625rem + 4.5vw);
        }
    }
}

.about-us {
    p {
        font-size: 1.1rem !important;
    }
}

.menu {
    position: relative;
    cursor: pointer;
    img {
        cursor: pointer;
    }
}

.menu {
    .menu-hover {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s;
    }

    .menu-hover:hover {
        opacity: 1;
    }
}

.input-group {
    input {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
    input:focus {
        border-color: #ff214f !important;
    }
}

::placeholder {
    color: white !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.event {
    button {
        background-color: #343a40 !important;
        border: none;
        color: #ff214f;
        padding: 10px 50px;
        border-radius: 6px;
    }
    button:focus {
        background-color: #ff214f !important;
        color: white;
    }
}

.events-1 {
    .card {
        border-color: #495057;
        background-color: transparent;
    }
}


