$primary: #ff214f;
$nav-link-padding-y: 0.7rem;
$nav-link-padding-x: 1.2rem !important;
$navbar-padding-y: 1.5rem;
$nav-link-font-weight: 700;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";



